/* 
    Created on : 2016-04-17, 20:23:02
    Author     : Maciej Stępniak &lt;maciek.stepniak@gmail.com&gt;
*/

body{
    padding-top: 70px;
    height: 100%;
}
html {
    height: 100%;
}

.col-left {
    top: 65px;
}
.container{
    height: 100%;
}
.row{
    height: 100%;
}

section {
    margin-bottom: 40px;
    height: 100%;
}

content {
    height: 100%;
}
article {
    height: 100%;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #e7e7e7;
    position:fixed;
    bottom: 0;
}

.ico {
    width: 30px;
}

.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    text-decoration: none;
}
.linkNextPrev{
    text-decoration: none;
    color: black;
}
.linkNextPrev:hover{
    text-decoration: none;
}
.currentPage{
    color: #1f59cd;
    font-weight: bold;
}
.nextPrev{
    text-align: right;
    margin-bottom: 20px;
}
.moreDiv{
    position: absolute;
    left: 20px;
}
.moreDiv > a > img {
    height: 24px;
    width: 24px;
}
.deleteButton{
    position: absolute;
    right: 20px;
}
.deleteButton > a > img {
    height: 16px;
    width: 16px;
}
.thumbnailComponent {
    background-color: #f5f5f5;
}

.categoryImg {
    width: 32px;
}
.plusMinusForm{
    padding-bottom: 20px;
}
.plusMinusForm > div{
    display: inline-block;
    float:right;
}

label[for="nav-switch"] {
    position: fixed;
    float: right;
    padding: 6px 8px;
    background: transparent;
    z-index: 999999;
    top: 8px; right: 65px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.form-label{
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
}

.userPhoto{
    max-width: 100px;
}

.table>tbody>tr>td{
    vertical-align: middle;
}